@use 'variables' as *;

*, ::after, ::before {
    margin: 0;
    padding: 0;
    // user-select: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    @media (prefers-reduced-motion: reduce) {
        & {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-duration: 0s !important;
            transition-delay: 0s !important;
        }
    }
}

*::selection {
    background: rgba(122, 248, 234, 0.15);
    @include text-stroke(.5px, $t);
    color: $primary;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-gutter: stable both-edges;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    position: relative;
    color: $light;
    background-color: #4b4b4b;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    @include font();
    @include scrollbar(3px, $primary);
    @include is-firefox {
        -moz-osx-font-smoothing: grayscale;
        scrollbar-width: thin;
    }
}


img {
    height: 100%;
    width: 100%;
    transition: .2s;
    object-fit: contain;
    image-resolution: smooth;
    pointer-events: none;
    @include is-chrome {
        image-resolution: -webkit-optimize-contrast;
    }
    @include is-firefox {
        image-rendering: optimizequality;
    }
}

svg {
    backface-visibility: hidden;
    max-height: 100%;
    max-width: 100%;
    @include is-chrome {
        image-resolution: -webkit-optimize-contrast;
    }
    @include is-firefox {
        image-rendering: optimizequality;
    }

    path {
        transition: .2s;
    }
}

a {
    transition: .3s;

    &::selection,
    &:hover {
        @include color('color', $primary, .5)
    }

    &:focus-visible {
        @include color('outline-color', $primary, .5);
        outline-style: dashed;
        outline-width: 1px;
        outline-offset: 5px;
    }
}

ul, ol, li {
    max-width: 100%;
}

button {
    cursor: pointer;
    transition: .2s;
}


// Reset
:where(*) {
    font-family: "satoshi", sans-serif;
}
:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}
:where(input, button, textarea, select) {
    color: inherit;
    outline: none;
    background-color: $t;
    border: none;
}
:where(p, h1, h2, h3, h4, h5, h6, input, button, textarea, select) {
    line-height: 1;
}
:where(details, button) {
    cursor: pointer;
}
:where(textarea) {
    resize: vertical;

    &::-webkit-resizer {
        background: $dark;
        border-bottom: 1px dotted $yellow;
    }
}
:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}